.App {
  text-align: center;
}

.ui.main.container {
  margin-top: 4em;
}
.ui.two.buttons{
  display: flex !important;
  justify-content: center !important;
}

.ui.two.buttons button {
  max-width: 200px;  

}

.ui.two.buttons button:hover {

background-color: #1678c2 !important;
  color: #ffffff !important;
}